@layer base {
  html,
  body,
  #root {
    height: 100%;
    overflow: hidden;
  }

  body {
    font-family:
      -apple-system, BlinkMacSystemFont, "SF Pro Text", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d4d4d4;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #a3a3a3;
}

@media (prefers-color-scheme: dark) {
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #2a2a2a;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #444;
  }
}
